<div class="container mt-3">
  <h2>
    Hi, Im a web app
  </h2>

  <p>
    In this Rails app my intention is display in a simple way how we can implenent a polymorphic association.
    The polymorphic association help us when we need to connect a model to multiple other models.
  </p>

  <p>
    In this example we have two tables (book and magazine) without relation between them and a polymorphic association by the notes table
  </p>

  <p>
    Book can have one or more notes same that Magazine
  </p>

</div>