<div class="container mt-3">
  <h2>
    Hi, Im a web app
  </h2>

  <p>
    In this Rails app my intention is display in a simple way how we can implenent a polymorphic association.
    The polymorphic association help us when we need connect a model to multiple other models.
  </p>


</div>