<div class="container mt-3">
  <h2>Notes</h2>
  
  <div class="table-responsive">
    <table class="table align-middle">
      <thead>
        <tr>
          <th>Content</th>
          <th>Type</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @notes.each do |note| %>
          <tr>
            <td><%= note.content.truncate(35)%></td>
            <td><%= note.noteable_type %></td>
            </td>
          </tr>
          <% end %>
        <tr>
      </tbody>
    </table>
  </div>
</div>
