.custom-bg-gray{
  background-color: #333;
}

.navbar-nav a{
  color: #f7f7f7;
}

.navbar-nav a:hover{
  color: #e95420;
}

.navbar-brand{
  color: #f7f7f7;
}

  a.navbar-brand:hover{
  color: #e95420;
}
